*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.header{
    color: green;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.product-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1440px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    /* gap: 30px; */
}
.product-box{
    max-width: 300px;    
    border: 2px solid grey ;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.content-box{
    display: flex;
    max-height: 300px;
    flex-direction: column;
}

.title{
    margin: 10px;
    color: #654E55;
    font-family: 'Poppins';
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}
.price{
    margin: 10px;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;

}
.description{
    margin: 10px;
    color: #654E55;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}
